<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/logo copy.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Shopping List</title>
</head>
<body class="bkg-body">
    <header>
        <div>
            <img src="../static/images/logo.png" alt="logo">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{url_for('edit_product_list')}}">Edit products lists</a></li>
                <li><a href="{{url_for('profile')}}">Profile</a></li>
                <li><a href="{{url_for('shopping_info')}}">Shopping info</a></li>
                <li><a href="{{url_for('logout')}}">Log out</a></li>
            </ul>
        </div>
       


    </header>
    <main>
        {%block main%}

        {%endblock%}
    </main>
    <footer>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{url_for('edit_product_list')}}">Edit products lists</a></li>
            <li><a href="{{url_for('profile')}}">Profile</a></li>
            <li><a href="{{url_for('shopping_info')}}">Shopping info</a></li>
            <li><a href="{{url_for('logout')}}">Log out</a></li>
            
        </ul>
    </footer>

</body>
</html>