<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/logo copy.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Shopping List</title>
</head>
<body class="bkg-body">
    <header>
        <div id="div-menu">
            <img src="../static/images/logo-small.png" alt="logo" id="logo-btn" >
            <div id="popup-menu-on-of">
                <ul id="popup-menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('edit_product_list')}}">Edit products lists</a></li>
                    <li><a href="{{url_for('profile')}}">Profile</a></li>
                    <li><a href="{{url_for('shopping_info')}}">Shopping info</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
        </div>
       


    </header>
    <main>
        {%block main%}

        {%endblock%}
    </main>
    <footer>
        <ul class="foter-list">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{url_for('edit_product_list')}}">Edit products lists</a></li>
            <li><a href="{{url_for('profile')}}">Profile</a></li>
            <li><a href="{{url_for('shopping_info')}}">Shopping info</a></li>
            <li><a href="{{url_for('logout')}}">Log out</a></li>
            
        </ul>
    </footer>
<script>
    const menuBtn = document.getElementById("logo-btn")
    const menueOnOff = document.getElementById("popup-menu-on-of")
    let isShow = false
   
    menuBtn.addEventListener("click", () => {
        if(isShow) {
            menueOnOff.style.display = 'block'
        
            isShow = false
        } else {
            menueOnOff.style.display = 'none'
            
            isShow = true
        }
    })


</script>
</body>
</html>