{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
{% with messages = get_flashed_messages(with_categories=True) %}

{% if messages %}

{% if shopping_list_name %}
<p id="hidden_shopping_list_name">{{shopping_list_name}}</p>
{% endif %}
    <ul class="flash-messages">
        {% for category, message in messages %}
            <p class="{{ category }} massage">{{ message }}</p>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h1>Hello {{ name|capitalize }}, what would you like to do?</h1>
<div class="home-container">
  
    <div class="shopping_list_name">
        {% for name in shopping_list %}
            <p><span class="list-name-bar">{{ name }}</span></p>
        {% endfor %}
        <div>
            <form action="/home_edit_new_list" method="POST" class="form-add-list-name">
                <input name="new_list" placeholder="Add new list">
                <button type="submit" name="action" id="v">✔</button>
                <button type="reset" name="action" id="x">✖</button>
            </form>
        </div>
    </div>


    <div class="list_container">
        {% for list_name, items in shopping_list.items() %}
           
            <div class="shopping_list_info {{ list_name }}">
                <div>
                    <h2 class="list_name">{{ list_name }}</h2>
                    <form action="/home_delete_list" method="POST" class="shopping_list_name_edit_form">
                        <input name="list_name_old" class="edit_list_name_hidden" value="{{list_name}}">
                        <input name="list_name_edit" class="edit_list_name" value="{{list_name}}">
                        <button type="submit" name="action" value="update">✔</button>
                        <button type="submit" name="action" value="delete">Delete</button>
                    </form>
                </div>

                {% set categories = items | map(attribute='category') | unique %}
                <div class="all-catagories-div">
                    {% for category in categories %}
                    <div class="{{category}}">
                        <h4 class="category">{{ category }}</h4>
                        <ul>
                            {% for item in items if item.category == category %}
                                <li>
                                    <span class="list_item">{{ item.quantity }} <span class="item_name">{{ item.name }}</span>
                                    <!-- <p>{{item.user_id}}</p> -->
                                      <form action="/home_edit_list" method="POST" class="edit_list_form">
                                        <input name="shopping_list_name" class="shopping_list_name_hidden" value="{{ list_name }}">
                                        <input name="item_id" class="item_id_hidden" value="{{ item.id }}">
                                        <input name="quantity" placeholder="000" type="number" maxlength="4" value="{{ item.quantity }}">

                                        <label for="products"></label>
                                        <input name="product" placeholder="Add product" list="products" class="product-input" value="{{item.name}}">
                                        <datalist id="products">
                                            {% for product in products_list_all %}
                                            <option value="{{ product.name }}">{{ product.name }}</option>
                                        {% endfor %}
                                        {% for product in products_list_user%}
                                                <option value="{{ product.name }}">{{ product.name }}</option>
                                        {% endfor %}
                                        </datalist>
                                        <label for="categories"></label>
                                        <input name="category" placeholder="Add category" list="categories" class="category_input" value="{{item.category}}">
                                        <datalist id="categories">
                                            {% set seen_categories = [] %}
                                            {% for  id, product, category in products_list %}
                                                {% if category not in seen_categories %}
                                                    <option value="{{ category }}">{{ category }}</option>
                                                    {{ seen_categories.append(category) }}
                                                {% endif %}
                                            {% endfor %}
                                        </datalist>
                                        <input name="notes" placeholder="Add notes">

                                        <button type="submit" name="action" value="update">✔</button>
                                        <button type="submit" name="action" value="delete" id="x">✖</button>
                                      </form>  
                                    </span>
                                    {% if item.notes %}
                                        ({{ item.notes }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
               

                
                <form action="/home_add" method="POST" class="home-add-form">
                    <input name="shopping_list_name" class="shopping_list_name_hidden" value="{{ list_name }}">
                    <input name="user_id" value="{{ items[0].user_id}}" type="hidden">
                    <input name="quantity" placeholder="000" type="number" maxlength="4" id="input-quntity">
                    <label for="products"></label>
                    <input name="product" placeholder="Add product" list="products" class="product-input" required>
                    <datalist id="products" >
                        {% for product in products_list_all %}
                            <option value="{{ product.name }}">{{ product.name }}</option>
                        {% endfor %}
                        {% for product in products_list_user%}
                                <option value="{{ product.name }}">{{ product.name }}</option>
                        {% endfor %}
                    </datalist>
                    <label for="categories"></label>
                    <input name="category" placeholder="Add category" list="categories" class="category_input">
                    <datalist id="categories">
                        {% set seen_categories = [] %}
                        {% for id, product, category in products_list %}
                            {% if category not in seen_categories %}
                                <option value="{{ category }}">{{ category }}</option>
                                {{ seen_categories.append(category) }}
                            {% endif %}
                        {% endfor %}
                    </datalist>
                    <input name="notes" placeholder="Add notes">
                    <button type="submit" id="add-v-btn">✔</button>
                    <button type="reset" id="add-x-btn">✖</button>
                </form>

                <!-- Link to start shopping -->
                <div class="div-start-shopping"> 
                    <form action="/active_shopping" method="POST" >
                        <div class="start_shopping">
                            <input name="shopping_list_name" id="input_list_name" value="{{list_name}}">
                            <input name="user_id" value="{{items[0].user_id }}" >
                        </div>
                        <button type="submit">Start Shopping</button>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">

    var products_list = {{ products_list | tojson }};
    var products_list_obj = [];

    products_list.forEach(arry => {
        products_list_obj.push({
            id: arry[0],
            name: arry[1],
            category: arry[2]
        });
    });

    var productInput = document.querySelectorAll(".product-input");
    var categoryInput = document.querySelectorAll(".category_input");
    if (productInput) {
        productInput.forEach((input, index) => {
        input.addEventListener("change", () => {
            var newValue = input.value;
            var product = products_list_obj.find(p => p.name === newValue);
            categoryInput[index].value = product.category;
        });
    });
    }

    const share_json = {{share | tojson}}
    const share_with_user_json = {{share_with_user | tojson}}
    const paraShoppingListName = document.querySelectorAll(".shopping_list_name p")

    if (share_json || share_with_user_json) {
    paraShoppingListName.forEach(p => {
        // Loop through share_json to compare
        share_json.forEach(obj => {
            if (p.innerText.trim() === obj.shopping_list_name) {
                p.innerHTML = `<span class="list-name-bar">${obj.shopping_list_name}</span><span>  shared with ${obj.user_name}</span>`;
                p.style.color = 'blue'
            }
        });

        // Loop through share_with_user_json to compare
        share_with_user_json.forEach(obj => {
            if (p.innerText.trim() === obj.shopping_list_name) {
                p.innerHTML = `<span class="list-name-bar">${obj.shopping_list_name}</span><span> shared by ${obj.user_name}</span>`
                p.style.color = 'red'
            }
        });
    });
}
</script>


<script src="../static/js/home.js"></script>
{% endblock %}